table {
  margin-top: -40px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

th,
td,
tr {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

td#name {
  text-transform: capitalize;
}

#buttons {
  display: flex;
  margin: 0px;
}

button {
  background-color: #3090f0;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
  margin: 5px;
}

th {
  background-color: #3090f0;
}
